<?xml version="1.0" encoding="UTF-8"?>
<Settings>
    <Setting>
        <!--
        javax.swing.plaf.metal.MetalLookAndFeel
        javax.swing.plaf.nimbus.NimbusLookAndFeel
        com.sun.java.swing.plaf.motif.MotifLookAndFeel
        com.sun.java.swing.plaf.windows.WindowsLookAndFeel
        com.sun.java.swing.plaf.windows.WindowsClassicLookAndFeel
        -->
        <!--
        com.jtattoo.plaf.hifi.HiFiLookAndFeel
        com.jtattoo.plaf.noire.NoireLookAndFeel
        com.jtattoo.plaf.acryl.AcrylLookAndFeel
        -->
        <LookAndFeel>javax.swing.plaf.nimbus.NimbusLookAndFeel</LookAndFeel>
        <Language>English.xml</Language>
        <SupportedFileExtensions>SupportedFileExtensions.xml</SupportedFileExtensions>
    </Setting>
</Settings>